.main {
	padding-top: 105px;
	margin-bottom:105px;
}


h1{
	color: #262626;
	font-size: 52px;
	font-weight: 200;
	font-family: 'Poppins', sans-serif;
	line-height:60px;
}

h2{
	color: #686868;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

h2.title {
	color: #fa6156;
}

h3{
	color: #262626;
	font-size: 24px;
	padding-top:24px;
	font-weight: 600;
	line-height:24px;
	font-family: 'Chivo', sans-serif;
			letter-spacing:.010em;
}

h4{
	font-weight:400;
}

a{
	color: #fa6156;
	font-size: 18px;
	font-family: 'Chivo', sans-serif;
	text
}

.intro a {
	padding-right: 1em;
}


.card a {
	color: #424242;
}

.card a:hover {
		text-decoration: none;
		color: #424242;
}


p{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

p.content{
	color:#424242;
}

a.globalFooterCard, div.globalFooterCard {
		padding: 10px 40px 20px 40px;
    position: relative;
    display: -ms-block;
    display: block;;
    -ms-flex-direction: column;
    flex-direction: column;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
    border-radius: 5px;
    box-shadow: 0px 15px 35px rgba(50,50,93,.1), 0px 5px 15px rgba(0,0,0,.07);
    transition-property: color,background-color,box-shadow,transform;
    transition-duration: .15s;
}


.profile-pic {
	text-align: center;
	padding-bottom: 50px;
}

.intro-bar {
		padding:0px;
}

.intro-bar a {
    font-weight: 600;
		display: inline-block;
	 position: relative;
	 padding-bottom: 3px;
	 margin-top:20px;
		margin-bottom:20px;
}

.intro-bar a:hover {
 color: #fa6156;
 text-decoration: none;
}

.intro-bar a:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	transition: width 0s ease, background .5s ease;
}

.intro-bar a:after{
	content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #fa6156;
    transition: width .5s ease;
}

.intro-bar a:hover:before {
	width: 100%;
    background: #fa6156;
    transition: width .5s ease;
}

.intro-bar a:hover:after {
	width: 100%;
	    background: transparent;
	    transition: all 0s ease;
}

.card {
	background-color: #fff;
	padding:0px;
	border:0px;
	margin-bottom: 30px;
	box-shadow: 0px 15px 35px rgba(50,50,93,.1), 0px 5px 15px rgba(0,0,0,.07);
	-webkit-transition: 0.2s all ease-in;
	-moz-transition: 0.2s all ease-in;
	-o-transition: 0.2s all ease-in;
}

.card:hover{
	margin-top:-20px;
	box-shadow: 0px 15px 35px rgba(50,50,93,.2), 0px 5px 15px rgba(0,0,0,.24);
}

.card-block {
	padding:20px;
}


::selection {
  background: #fa6156; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #fa6156; /* Gecko Browsers */
  color: #fff;
}

.about {
	padding-top:50px;
}

.about img {
	margin-top:15px;
	margin-bottom: 25px;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
