.main {
	padding-top: 105px;
	margin-bottom:105px;
}


h1{
	color: #262626;
	font-size: 52px;
	font-weight: 200;
	font-family: 'Poppins', sans-serif;
	line-height:86px;
}

h2{
	color: #686868;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

h2.title {
	color: #fa6156;
}

h3{
    padding: 10px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
		color: #424242;
		font-size: 14px;
		letter-spacing:.015em;
		font-family: 'Chivo', sans-serif;
    text-decoration: none;
		opacity:.7;
}

a{
	color: #fa6156;
	font-size: 18px;
	font-family: 'Chivo', sans-serif;
	text
}

.intro a {
	padding-right: 1em;
}


p{
	font-family: 'Chivo', sans-serif;
	font-size: 16px;
			letter-spacing:.015em;
}

p.content{
	color:#424242;
}

a.globalFooterCard, div.globalFooterCard {
		padding: 10px 40px 20px 40px;
    position: relative;
    display: -ms-block;
    display: block;;
    -ms-flex-direction: column;
    flex-direction: column;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
    border-radius: 5px;
    box-shadow: 0px 15px 35px rgba(50,50,93,.1), 0px 5px 15px rgba(0,0,0,.07);
    transition-property: color,background-color,box-shadow,transform;
    transition-duration: .15s;
}


.profile-pic {
	text-align: center;
	padding-bottom: 50px;
}

.intro-bar {
		padding:0px;
}

.intro-bar a {
    font-weight: 600;
    transition: 0.4s all ease-in;
    -webkit-transition: 0.4s all ease-in;
    -moz-transition: 0.4s all ease-in;
    -o-transition: 0.4s all ease-in;
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
		line-height:80px;
}

.intro-bar a:hover {
	  text-decoration: line-through;
}

.about {
	padding-top:50px;
}

.card {
	background-color: #fff;

	margin: 0;
	padding: 0;
	box-shadow: 0px 15px 35px rgba(50,50,93,.1), 0px 5px 15px rgba(0,0,0,.07);
}

.projects:hover {
	padding-top: -5px;
	background-color: #fff;
	height: 350px;
	box-shadow: 0px 15px 35px rgba(50,50,93,.1), 0px 5px 15px rgba(0,0,0,.07);
}

.projects img {

	max-height:100px;
	width:100%;
	-webkit-transition: 0.4s all ease-in;
	-moz-transition: 0.4s all ease-in;
	-o-transition: 0.4s all ease-in;
	background-color: #fa6156;
}

::selection {
  background: #fa6156; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #fa6156; /* Gecko Browsers */
  color: #fff;
}

#particles-js {
	position: fixed;
	display: block;
	top: 0px;
	bottom: 0;
	height:100%;
	max-width:300px;
	margin:0px;
	z-index:-1;
	left: 0;
	overflow-x: hidden;
	overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
}
